.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  background-color: #f0f0f0;
  overflow-y: auto;
  max-width: 15%;
  min-width: 200px;
}

.content {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
}
